#dark {
  border: solid 2px black;
}
.dark-background {
  background-color: black;
}

.light-text {
  color: white;
}
#light {
  border: solid 2px black;
}
.light-background {
  background-color: white;
}

.dark-text {
  color: black;
}

#highlight {
  border: solid 0px black;
}
